# Dependencias
node_modules/

# Carpeta de distribución
dist/

# Archivos de registro de errores
*.log

# Directorios de configuración del IDE
.vscode/
.idea/
*.swp

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de cobertura
coverage/
